
<div class="container bg-warning">

    <h2>Update Product</h2>
<div class="row md-3">
  <div class="col">
    <form #newProductform="ngForm" (ngSubmit)="onSubmit(newProductform)">
     <div class="col mb-3">
              <div class="row">
          <label for="name"> Product name</label>
          <input  type="text" class="form-control" required ngModel minlength="5" [(ngModel)]="product.name" placeholder="Product Name" name="name" #name="ngModel"  id="name">   
        </div>
        <div class="row">
            <label for="description">Description</label>
            <input type="text" class="form-control" [(ngModel)]="product.description"  placeholder="Description"  name="description" #description="ngModel" id="description">
        </div> 
        <div class="row">
            <label for="description">Unit Price</label>
            <input type="number" class="form-control" [(ngModel)]="product.unit_price"  placeholder="Enter Price"  name="unit_price" #unit_price="ngModel" id="description">
        </div> 
        <div class="row">
            <label for="stock">Stock</label>
            <input type="number" class="form-control" [(ngModel)]="product.stock"  placeholder="Stock left"  name="stock" #description="ngModel" id="stock">
        </div>
      </div>
          <div class="row justify-content-center mb-2">
              <div class="col-sm-10">
                  <button type="submit" class="btn btn-primary">Update</button>
              </div>
          </div>
        
    </form>
  </div>
    </div>
</div>
